{{define "header"}}
<div class="sub-cover">
  <header class="page-header wrapper">
    <h1 class="align-center">
      <a href="index.html"><p class="logo">Reviewers管理画面</p></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li><a href="/user/" class="main-nav-active">ユーザー</a></li>
        <li><a href="/review/" class="main-nav-inactive">レビュー</a></li>
        <li><a href="/merchandise/" class="main-nav-inactive">商品</a></li>
        <li><a href="/report/" class="main-nav-inactive">報告</a></li>
      </ul>
    </nav>
  </header>
</div>
{{end}}
