{{define "head"}}
<head>
  <meta charset="utf-8">
  <title>ユーザー - Reviewers</title>
  <meta name="description" content="ユーザー一覧 - Reviewers">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

  <!-- ファビコン -->
  <link rel="icon" type="image/png" href="/image/favicon.png">

  <!-- Googleフォント -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap" rel="stylesheet">

  <!-- オリジナルCSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
{{end}}
