<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merchandise Review</title>
</head>
<body>
<p>Merchandise Review</p>

{{ $merchandise := .Merchandise }}

<hr>
{{ range .Reviews }}
<div>
    <a href="/review/{{ .Id }}/"><p>{{ .Id }}</p></a>
    {{ $reviewId := .Id }}
    <p>{{ .Comment }}</p>
    {{ range .Images }}
    <img src="{{ .Url }}" width="300" alt="" />
    <a href="/merchandise/{{ $merchandise.Id }}/review/{{ $reviewId }}/image/{{ .Name }}/register/">Register</a>
    {{ end }}
</div>
<hr>
{{ end }}


</body>
</html>