<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merchandise Review</title>
</head>
<body>
<p>Merchandise Review</p>


{{ $merchandiseCode := .MerchandiseCode }}
{{ $imageBaseUrl := .ImageBaseUrl }}
<hr>
{{ range .Reviews }}
<div>
    <a href="/review/{{ .Id }}/"><p>{{ .Id }}</p></a>
    {{ $reviewId := .Id }}
    {{ $reviewUid := .Uid }}
    <p>{{ .Comment }}</p>
    {{ range .Images }}
    <img src="{{ $imageBaseUrl }}user/{{ $reviewUid }}/{{ . }}" width="300" alt="">
    <a href="/merchandise/{{ $merchandiseCode }}/review/{{ $reviewId }}/image/{{ . }}/register/">Register</a>
    {{ end }}
</div>
<hr>
{{ end }}


</body>
</html>