<!DOCTYPE html>
<html lang="ja">
{{template "head"}}
<body>
{{template "header" .Header}}


<main class="wrapper">
    <h1>報告</h1>

    <div class="report-content">
        <a href="user-id.html">
            <h2>ID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</h2>
        </a>
        <p>ReviewID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</p>
        <p>RegisterDate: 2024-04-11 11:23:23 +0900 JST</p>
        <p>Message: 商品と関係ない画像が貼られています。</p>
        <hr>
    </div>

    <div class="report-content">
        <a href="user-id.html">
            <h2>ID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</h2>
        </a>
        <p>ReviewID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</p>
        <p>RegisterDate: 2024-04-11 11:23:23 +0900 JST</p>
        <p>Message: 商品と関係ない画像が貼られています。</p>
        <hr>
    </div>

    <div class="report-content">
        <a href="user-id.html">
            <h2>ID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</h2>
        </a>
        <p>ReviewID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</p>
        <p>RegisterDate: 2024-04-11 11:23:23 +0900 JST</p>
        <p>Message: 商品と関係ない画像が貼られています。</p>
        <hr>
    </div>

    <div class="report-content">
        <a href="user-id.html">
            <h2>ID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</h2>
        </a>
        <p>ReviewID: 0de3475a-9619-4c7e-8c60-bd8bee64128b</p>
        <p>RegisterDate: 2024-04-11 11:23:23 +0900 JST</p>
        <p>Message: 商品と関係ない画像が貼られています。</p>
        <hr>
    </div>

    <div>
        <ul class="pagination">
            <a href="user.html"><li class="pagination-active">1</li></a>
            <a href="user.html"><li class="pagination-inactive">2</li></a>
            <a href="user.html"><li class="pagination-inactive">3</li></a>
            <a href="user.html"><li class="pagination-inactive">4</li></a>
            <a href="user.html"><li class="pagination-inactive">5</li></a>
            <a href="user.html"><li class="pagination-inactive">6</li></a>
            <a href="user.html"><li class="pagination-inactive">7</li></a>
            <a href="user.html"><li class="pagination-inactive">8</li></a>
            <a href="user.html"><li class="pagination-inactive">9</li></a>
            <a href="user.html"><li class="pagination-inactive">10</li></a>
        </ul>
    </div>
</main>

{{template "footer"}}

</body>
</html>
