<!DOCTYPE html>
<html lang="ja">
{{template "head"}}
<body>
{{template "header" .Header}}

<main class="wrapper">
    <h1>レビュー</h1>

    {{ range .Reviews }}
    <div class="review-content">
        <div class="review-content-flexbox">
            <div>
                <a href="/review/{{ .Id }}/">
                    <h2>ID: {{ .Id }}</h2>
                </a>
                <p>Rate: ★★★★★</p>
                <p>Code: 490105521308</p>
                <p>Message: {{ .Comment }}</p>
                <p>RegisterDate: {{ .CreatedAt }}</p>
            </div>

            {{ if gt (len .Images) 0 }}
            <img src="{{ (index .Images 0).Url }}">
            {{ end }}

        </div>
        <hr>
    </div>
    {{ end }}

    <div>
        <ul class="pagination">
            <a href="">
                <li class="pagination-active">+</li>
            </a>
            <a href="/user/?page=1">
                <li class="pagination-active">1</li>
            </a>
            <a href="/user/?page=2">
                <li class="pagination-inactive">2</li>
            </a>
            <a href="/user/?page=3">
                <li class="pagination-inactive">3</li>
            </a>
            <a href="/user/?page=4">
                <li class="pagination-inactive">4</li>
            </a>
            <a href="/user/?page=5">
                <li class="pagination-inactive">5</li>
            </a>
            <a href="/user/?page=6">
                <li class="pagination-inactive">6</li>
            </a>
            <a href="/user/?page=7">
                <li class="pagination-inactive">7</li>
            </a>
            <a href="/user/?page=8">
                <li class="pagination-inactive">8</li>
            </a>
            <a href="/user/?page=9">
                <li class="pagination-inactive">9</li>
            </a>
            <a href="/user/?page=10">
                <li class="pagination-inactive">10</li>
            </a>
        </ul>
    </div>
</main>

{{template "footer"}}

</body>
</html>

