<!DOCTYPE html>
<html lang="ja">
{{template "head"}}
<body>
{{template "header" .Header}}

<main class="wrapper">
  <h1>ユーザー</h1>

  {{ range .Users }}
  <div class="user-content">
    <a href="/user/{{ .Uid }}/">
      <h2>ID: {{ .Uid }}</h2>
    </a>
    <p>Provider: {{ .ProviderId }}</p>
    <p>CreationTime: {{ .CreationTime }}</p>
    <p>LastLoginDate: {{ .LastLoginTime }}</p>
    <hr>
  </div>
  {{ end }}

  <!-- TODO: ページネーションの実装に合わせる -->
  <!-- <div>
      <ul class="pagination">
          <li class="pagination-active"><a href="user.html">1</a></li>
          <li class="pagination-inactive"><a href="user.html">2</a></li>
          <li class="pagination-inactive"><a href="user.html">3</a></li>
          <li class="pagination-inactive"><a href="user.html">4</a></li>
          <li class="pagination-inactive"><a href="user.html">5</a></li>
          <li class="pagination-inactive"><a href="user.html">6</a></li>
          <li class="pagination-inactive"><a href="user.html">7</a></li>
          <li class="pagination-inactive"><a href="user.html">8</a></li>
          <li class="pagination-inactive"><a href="user.html">9</a></li>
          <li class="pagination-inactive"><a href="user.html">10</a></li>
      </ul>
  </div> -->

</main>

{{template "footer"}}

</body>
</html>
